body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: #669FE1;
    padding: 20px;
    width: 390px;
    height: 520px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display-box {
    background-color: white;
    height: 120px;
    border-radius: 25px;
    text-align: right;
    font-family: "Orbitron";
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#equation {
    margin-top: 10px;
    height: 20px;
    color: rgb(132, 132, 132);
    font-size: 16px;
}

#result {
    height: 60px;
    color: rgb(60, 60, 60);
    font-size: 32px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 90px;
    height: 90px;
    border: 0px;
    font-size: 64px;
    font-family: "Orbitron";
}

.digit {
    background-color: #B4CDE9;
    color: #F9FAFB;
    border-radius: 25px;
}

.operation {
    background-color: #F9FAFB;
    color: #B4CDE9;
    border-radius: 100px;
}

.other {
    background-color: #337FD7;
    color: rgb(238, 236, 246);
    border-radius: 25px;
}
