body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: rgb(100, 84, 171);
    padding: 20px;
    width: 390px;
    height: 520px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    background-color: white;
    height: 120px;
    border-radius: 25px;
    text-align: right;
    font-size: 64px;
    font-family: "Orbitron";
}

.button-row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 90px;
    height: 90px;
    border: 0px;
    font-size: 64px;
    font-family: "Orbitron";
}

.digit {
    background-color: rgb(181, 172, 222);
    color: rgb(238, 236, 246);
    border-radius: 25px;
}

.operation {
    background-color: rgb(238, 236, 246);
    color: rgb(181, 172, 222);
    border-radius: 100px;
}

.other {
    background-color: rgb(122, 111, 182);
    color: rgb(238, 236, 246);
    border-radius: 25px;
}
